# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Not Included
*AppTodos.js
*Example.js
*Todos.js
*india2019Low.json
*ScrapeData-copy.js
*AppNavbar-1.js
*Navbar2.css
*test.html
*Tricks
*github_images/