body {
  font-family: 'Tenali+Ramakrishna', sans-serif;
  margin: 0;
}

.innerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.innerContainer > div {
  flex-basis: 20%;
}

.spaceify {
  height: 20px;
}

#mapdiv {
  position: relative;
  margin-left: 25px;
  height: 450px;
}
